<section class="contact" id="contact">
    <h1 class="heading"><span>contact</span> us </h1>
    <form action="/contact" method="POST">
        <div class="inputBox">
            <input type="text" name="name" placeholder="name">
            <input type="email" name="email" placeholder="email">
        </div>
        <div class="inputBox">
            <input type="number" name="number" placeholder="number">
            <input type="text" name="event" placeholder="Event">
        </div>

        <textarea name="message" placeholder="your message" id="paragraph" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>
</section>
