<section class="gallery" id="gallery">
    <h1 class="heading">our <span>gallery</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="images/image1.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">            
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/image2.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">            
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/image3.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">            
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/image4.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">            
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/image5.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">            
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/img5.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">            
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/image7.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">            
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/image8.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">            
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>
    </div>
</section>