  <header class="header">
    <a href="/" class="logo"><span>RAY</span> Oragnizer</a>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="#service">Service</a>
        <a href="#about">About</a>
        <a href="#gallery">Gallery</a>
        <a href="#price">Price</a>   
        <a href="#review">Review</a>
        <a href="#contact">Contact</a>
    </nav>
    <nav>
    <!-- Other navbar content -->
    <div class="navbar-right">
        <a href="#home" class="logo"></a>
        <!-- Add your sign in and login buttons here -->
        <button onclick="location.href='/signin'" class="btn">Sign In</button>
        <button onclick="location.href='/login'" class="btn">Login</button>
    </div>
    </nav>

    <div id="menu-bars" class="fas fa-bars"></div>
  </header> 