<section class="review" id="review">
    <h1 class="heading">client's <span>review</span></h1>
    <div class="review-slider swiper container">

        <div clas="swiper-wrapper">
            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/ind1.jpg" alt="">
                    <div class="user-info">
                        <h3>Kelly Brook</h3>
                        <span>happy client</span>
                    </div>
                </div>
                <p>"I recently used this event management website to plan my company's annual conference, and I couldn't be happier with the results. The platform was easy to use, and the customer service team was incredibly helpful throughout the entire process. Our event was a huge success, thanks to their attention to detail and dedication. Highly recommend!"</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/ind2.jpg" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <span>happy client</span>
                    </div>
                </div>
                <p>"I've used this website for a couple of events now, and it's been a lifesaver every time. The interface is intuitive, making it easy to browse through vendors and manage all the details of my event. The only reason I'm not giving it a perfect score is that I encountered a few bugs while using the platform. Overall, though, it's a fantastic tool for anyone planning an event."</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">

                    <img src="images/ind3.jpg" alt="">
                    <div class="user-info">
                        <h3>Lucy Pinder</h3>
                        <span>happy client</span>
                    </div>
                </div>
                <p>"While this website offers a decent range of features for event planning, I found it to be a bit lacking in some areas. The vendor options were somewhat limited, and I had trouble finding exactly what I was looking for. Additionally, the pricing structure seemed a bit confusing. It's not a bad platform by any means, but I think there's room for improvement."</p>
            </div>


            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/ind4.jpg" alt="">
                    <div class="user-info">
                        <h3>Jay Shah</h3>
                        <span>happy client</span>
                    </div>
                </div>
                <p>"I can't thank this website enough for how much easier it made planning my wedding. From finding the perfect venue to hiring vendors, everything was streamlined and efficient. The best part was being able to track RSVPs and manage guest lists all in one place. Thanks to this platform, I was able to enjoy my big day without worrying about all the little details. Highly recommended for any soon-to-be brides and grooms!"</p>
            </div>
        </div>
    </div>
</section>