<section class="service" id="service">
    <h1 class="heading"> our <span>services</span></h1>
    <div class="box-container">
        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>venue selection</h3>
            <p>Choosing the perfect venue sets the stage for your event's success.We understand that finding the right venue can be overwhelming. That's why we're here to simplify the process and help you discover the ideal space that aligns with your vision and requirements. </p>
        </div>
        
        <div class ="box">
            <i class="fas fa-envelope"></i>
            <h3>Invitation Card</h3>
            <p>Make a lasting impression with beautifully crafted invitation cards tailored to your event. Whether you're planning a wedding, birthday party, corporate gala, or any other special occasion, our team is here to help you create the perfect invitation that sets the tone and builds excitement for your event.</p>
        </div>

        <div class ="box">
            <i class="fas fa-music"></i>
            <h3>Entertainment</h3>
            <p>We offer a diverse range of entertainment services to elevate your occasion and create unforgettable experiences for your guests. Whether you're planning a corporate event, wedding, birthday party, or any other special occasion, our talented entertainers are here to make your event truly memorable.</p>
        </div>

        <div class ="box">
            <i class="fas fa-utensils"></i>
            <h3>Food and Drinks</h3>
            <p>We understand that exceptional food and beverages are essential components of any memorable event. Whether you're planning a corporate luncheon, a wedding reception, or a milestone celebration, our Food and Drinks services are designed to delight your guests' taste buds and elevate their overall experience.</p>
        </div>

        <div class ="box">
            <i class="fas fa-photo-video"></i>
            <h3>Photos and Videos</h3>
            <p>We understand the importance of preserving memories that last a lifetime. Our Photos and Videos services are tailored to ensure that every moment of your event is captured with precision and creativity.</p>
        </div>

        <div class ="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>Custom food</h3>
            <p>We understand that food is a crucial aspect of any event. It's not just about sustenance; it's about creating memorable experiences for your guests. That's why we offer customizable food services tailored to your specific preferences and dietary needs.</p>
        </div>

    </div>
</section>